In [24]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [37]:
# write your code here ^_^
x = np.ones(5)

## Q#2: Create y array with elements equal to 0.

In [38]:
# write your code here ^_^
y = np.zeros(5)

## Q#3: Add x and y arrays.

In [39]:
# write your code here ^_^
z= x + y
z

array([1., 1., 1., 1., 1.])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [28]:
# write your code here ^_^
print(x.shape)

(1,)

In [29]:
print(x.size)

1

In [30]:
print(x.ndim)

1

In [31]:
print(x.dtype)

int32

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [32]:
# write your code here ^_^
w = np.array([[11,12],[13,14],[15,16]])
print(w)
print(w.shape)

[[11 12]
 [13 14]
 [15 16]]
(3, 2)

## Q#6: Create z array contains the numbers from 1 to 3.

In [33]:
# write your code here ^_^
z = np.arange(1,4)
z=z.reshape(3,1)
print(z)

[[1]
 [2]
 [3]]

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [34]:
# write your code here ^_^
newArray = np.hstack((z,w))
print(newArray)

[[ 1 11 12]
 [ 2 13 14]
 [ 3 15 16]]

## Q#8: Print all elements of "newArray" using the loop.

In [35]:
# write your code here ^_^
for row in newArray:
    for item in row:
        print(item)

1
11
12
2
13
14
3
15
16

## Q#9: Reverse the columns and rows of "newArray".

In [36]:
# write your code here ^_^
print('Before reverse: \n',newArray)
print('\nAfter reverse: \n',newArray.transpose())
newArray=newArray.transpose()

Before reverse:
 [[ 1 11 12]
 [ 2 13 14]
 [ 3 15 16]]

After reverse:
 [[ 1  2  3]
 [11 13 15]
 [12 14 16]]

## Q#10: Decrement all elements of "newArray" with 1.

In [14]:
# write your code here ^_^
newArray-=1
print(newArray)

[[ 0  1  2]
 [10 12 14]
 [11 13 15]]

## Q#11: Find smallest and biggest values in "newArray".

In [15]:
# write your code here ^_^
newArray.min()

0

In [16]:
newArray.max()

15

## Q#12: Print the first row of "newArray" using indexing.

In [17]:
# write your code here ^_^
print(newArray[0])

[0 1 2]

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [18]:
newArray

array([[ 0,  1,  2],
       [10, 12, 14],
       [11, 13, 15]])

In [19]:
# write your code here ^_^
newArray[1,1]

12

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [20]:
# write your code here ^_^
print(newArray[0,0])
print(newArray[2,1])

0
13

## Q#15: Change the shape of "newArray" to (9,1).

In [23]:
# write your code here ^_^
newArray=newArray.reshape(9,1)
print(newArray.shape)
newArray

(9, 1)

array([[ 0],
       [ 1],
       [ 2],
       [10],
       [12],
       [14],
       [11],
       [13],
       [15]])

## Q#16: Change the shape of "newArray" to (3,2).

In [22]:
# write your code here ^_^
newArray.reshape(3,2)

ValueError: cannot reshape array of size 9 into shape (3,2)

# Well Done ðŸŽ‰